<form method="post" action="/users/new">
  <p>
    <input type="text" name="firstname" placeholder="First Name" />
  </p>
  <p>
    <input type="text" name="lastname" placeholder="Last Name" />
  </p>
  <p>
    <input type="text" name="username" placeholder="User Name" />
  </p>
  <p>
    <input type="text" name="age" placeholder="Age" />
  </p>
    <p>
    <button type="submit">Submit New User</button>
  </p>
</form>